<div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-fond">

    <div class="col-md-5 p-lg-3 mx-auto my-5 text-light">
        <h1 class="title display-5 fw-bold">Découvrez les musée des blindées du monde entier !</h1>
        <p class="lead fw-normal">Des centaines de véhicules qui n'atendent que votre visite.</p>
        <a class="mt-4 btn btn-outline-warning" routerLink="tanks">En savoir plus</a>
    </div>

</div>

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Découvrez toutes les informations sur les différents musées</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 bg-cardS">
                    <h2 class="pt-5 mb-4 display-6 lh-1 fw-bold">Musée des Blindés de Saumur</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="../../assets/logo.png" alt="Bootstrap" width="100%" height="20">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>France</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <small>5 / 7 j</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 bg-cardK">
                    <h2 class="pt-5 mb-4 display-6 lh-1 fw-bold">Musée des blindés de Koubinka
                    </h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="../../assets/logo.png" alt="Bootstrap" width="100%" height="20">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>Russie</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <small>4 / 7 j</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1 bg-cardB">
                    <h2 class="pt-5 mb-4 display-6 lh-1 fw-bold">Musée des Blindés de Bovington</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="../../assets/logo.png" alt="Bootstrap" width="100%" height="20">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill" />
                            </svg>
                            <small>Royaume-Uni</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3" />
                            </svg>
                            <small>6 / 7 j</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container px-4 py-2" id="custom-cards">
    <h2 class="pb-2 border-bottom">Découvrez toutes les informations sur les derniers véhicules ajouté</h2>

    <div class="row row-cols-sm-1 row-cols-lg-2 align-items-stretch g-4 py-5">
        <div class="col-6">
                <div class="card shadow-sm flex-fill mt-3">
                    <img class="w-100 h-100 picture" src="https://upload.wikimedia.org/wikipedia/commons/9/94/Tiger_131_%287527948486%29.jpg">

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2>Tank : Tigre I </h2>
                        </div>
                        <div class="row mx-auto my-2">
                            <div class="col-12 col-sm-6">
                                Mise en service : 1942 <br>
                                Pays : Allemagne <br>
                                Armenent : kwk88 88mm
                            </div>
                            <div class="col-12 col-sm-6">
                                Durée du service : 2 années <br>
                                Quantité : 1354 <br>

                                Fabricant : Grupp/Henschel<cite title="Source Title"></cite>
                            </div>
                        </div>
                        <hr />
                        <p class="card-text text-justify">Histore : Le développement du Tiger commence en 1937 et, quand il apparaît pour la première fois sur le front le 29 août 1942, près de Léningrad, il est alors le char le plus avancé techniquement (à l’exception du blindage vertical, rappelant son origine remontant à l'entre-deux-guerres), le mieux protégé et le plus puissant aligné par l'Axe. Il affiche une mobilité limitée, mais exceptionnelle pour un engin qui fait plus de deux fois le poids de ses prédécesseurs.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">Catégorie : Char lourd</small>
                        </div>

                    </div>
            </div>
        </div>
        <div class="col-6">
                <div class="card shadow-sm flex-fill mt-3">
                    <img class="w-100 h-100 picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Victory_park_%28Kazan%29_%28262-14%29.jpg/800px-Victory_park_%28Kazan%29_%28262-14%29.jpg">

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2>Tank : T-54/2</h2>
                        </div>
                        <div class="row mx-auto my-2">
                            <div class="col-12 col-sm-6">
                                Mise en service : 1957<br>
                                Pays : Russie <br>
                                Armenent : D-10T de 100 mm
                            </div>
                            <div class="col-12 col-sm-6">
                                Durée du service : 74 années <br>
                                Quantité : 86 000<br>

                                Fabricant : KhPZ, UVZ (URSS)<cite title="Source Title"></cite>
                            </div>
                        </div>
                        <hr />
                        <p class="card-text text-justify">Histore : L’origine du T-54 remonte au T-34 : pendant la Seconde Guerre mondiale, l’ingénieur soviétique Aleksander Morozov chercha à dépasser certaines limites propres à la conception de celui-ci. Il conçut ainsi le T-43, qui résolvait notamment les problèmes posés par la suspension Christie obsolète du T-34 en la remplaçant par des barres de torsion. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">Catégorie : Char moyem </small>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <h2 class="pb-2 border-bottom">Consulter les listes remplit d'informations sur les véhicules et les musées
    </h2>
    <div class="py-5 my-2 row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-90 p-5 mb-2 text-white bg-dark rounded-3 bg-jumboV">
                <h2>Découvrez les vehicules en exposition !</h2>
                <p>Dans cette section vous pouvez consulter la liste des différents véhicule ainsi que toutes
                    leurs
                    caractérisques.</p>
                <a class="btn btn-outline-warning" routerLink="tanks">En savoir plus</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-95 p-5 text-white bg-dark rounded-3 bg-jumboM">
                <h2>Découvrez la liste des musées du monde entier !</h2>
                <p>Dans cette section vous pouvez consulter la liste des différents musée ainsi que toutes leurs
                    informations.</p>
                <a class="btn btn-outline-warning" routerLink="museums" type="button">En savoir plus</a>
            </div>
        </div>
    </div>
</div>